<!DOCTYPE html>
<html>
	<head>
		<title>Astro App</title>
		<link href="stylesheets/main.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css2?family=Croissant+One&display=swap" rel="stylesheet">
		<link rel="shortcut icon" type="image/png" href="assets/icon.png">

	</head>
	<body>
		
	
	
