<%- include("../partials/header") %>



<div id="main">
	

	<h1>Find Out Your Horoscope </h1>

<form action="/results" method="GET">
	<button type="submit" name="sign" value="aquarius">
		<img class="zodiac" src="https://astro-app-2020.s3.us-east-2.amazonaws.com/aquarius.png" alt="aquarius-icon">
		<p>Aquarius</p>
	</button>
	
	<button type="submit" name="sign" value="pisces">
		<img class="zodiac" src="https://astro-app-2020.s3.us-east-2.amazonaws.com/pisces.png" alt="pisces-icon">
		<p>Pisces</p>
	</button>
	
	<button type="submit" name="sign" value="aries">
		<img class="zodiac" src="https://astro-app-2020.s3.us-east-2.amazonaws.com/aries.png" alt="aries-icon">
		<p>Aries</p>
	</button>
	
	<button type="submit" name="sign" value="taurus">
		<img class="zodiac" src="https://astro-app-2020.s3.us-east-2.amazonaws.com/taurus.png" alt="taurus-icon">
		<p>Taurus</p>
	</button>
	
	<button type="submit" name="sign" value="gemini">
		<img class="zodiac" src="https://astro-app-2020.s3.us-east-2.amazonaws.com/gemini.png" alt="gemini-icon">
		<p>Gemini</p>
	</button>

	
	<button type="submit" name="sign" value="cancer">
		<img class="zodiac" src="https://astro-app-2020.s3.us-east-2.amazonaws.com/cancer.svg" alt="cancer-icon">
		<p>Cancer</p>
	</button>
	
	<button type="submit" name="sign" value="leo">
		<img class="zodiac" src="https://astro-app-2020.s3.us-east-2.amazonaws.com/leo.png" alt="leo-icon">
		<p>Leo</p>
	</button>
	
	<button type="submit" name="sign" value="virgo">
		<img class="zodiac" src="https://astro-app-2020.s3.us-east-2.amazonaws.com/virgo.png" alt="virgo-icon">
		<p>Virgo</p>
	</button>
	
	<button type="submit" name="sign" value="libra">
		<img class="zodiac" src="https://astro-app-2020.s3.us-east-2.amazonaws.com/libra.png" alt="SomeAlternateText">
		<p>Libra</p>
	</button>
	
	<button type="submit" name="sign" value="scorpio">
		<img class="zodiac" src="https://astro-app-2020.s3.us-east-2.amazonaws.com/scorpio.png" alt="scorpio-icon">
		<p>Scorpio</p>
	</button>
	
	<button type="submit" name="sign" value="sagittarius">
		<img class="zodiac" src="https://astro-app-2020.s3.us-east-2.amazonaws.com/sagittarius.png" alt="sagittarius-icon">
		<p>Sagittarius</p>
	</button>
	
	<button type="submit" name="sign" value="capricorn">
		<img class="zodiac" src="https://astro-app-2020.s3.us-east-2.amazonaws.com/capricorn.png" alt="capricorn-icon">
		<p>Capricorn</p>
	</button>
	
	
	
</form>

</div>





<%- include("../partials/footer") %>



