* {
	font-family: 'Croissant One', cursive;
}

body {
	background-color: black;
}

#main {
	margin: 2em auto;
	text-align: center;
	color: white;
}

#form {
	margin-top: 50px;
}

 .signInput, .dayInput { 
	 border-color:#cccccc; 
	 font-size:28px; 
	 padding:15px; 
	 border-width:0px; 
	 border-style:hidden; 
	 box-shadow: 1px 1px 6px 0px rgba(232,144,240,.68); 
	 text-shadow:0px 0px 0px rgba(42,42,42,.75);  

	} 
.css-input:focus { 
	outline:none; 
	} 


.zodiac {
	height: 200px;
	width: 200px;
	border: none;
}



button {
	border: none;
	background-color: black;
}

p {
	color: white;
}

.card {
	display: block;
	text-align: center;
	/* background: #31DCDF !important; */
	background: url('http://api.thumbr.it/whitenoise-361x370.png?background=31DCDFff&noise=626262&density=11&opacity=22') !important;
	width: 500px;
	height: 750px;
	margin: 0 auto;
	border: 8px solid;
	border-color: #FFBE23;
	border-radius: 3px;
	position: relative;
	z-index: -2;
	-webkit-box-shadow: -1px 3px 29px 10px rgba(255,255,255,1);
-moz-box-shadow: -1px 3px 29px 10px rgba(255,255,255,1);
box-shadow: -1px 3px 29px 10px rgba(255,255,255,1);

}



.card-text {
	padding: 2rem;
	position: relative;
	z-index: 0;
	color: black;
	text-align: center;


}

.card-circle {
	height: 700px;
	width: 85%;
	display: block;
	margin: 25px auto;
	background: url('http://api.thumbr.it/whitenoise-361x370.png?background=FFFFFFff&noise=626262&density=11&opacity=9') !important;
	border-radius: 50%;
	position: relative;
	z-index: -2;
	border: 6px solid #FFBE23;

}

#horo {
	margin-top: 25%;
}

/* #your-sign {
	position: relative;
	font-size: 1rem;
	color: white;
} */

#current-date, #your-sign {
	color: white;
	text-align: center;
	margin: 0 auto;
}

.flip-card {
	background-color: transparent;
	width: 500px;
	height: 750px;
	perspective: 1000px;
	margin: 0 auto;
  }

  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  
  .flip-card-front {
	background-color: #bbb;
	color: black;
  }
  
  .flip-card-back {
	background-color: #2980b9;
	color: white;
	transform: rotateY(180deg);
  }